{% extends 'base.html' %}
{% load static %}
{% block metadescription %}
    This is cart page to buy any products.
{% endblock %}
{% block title %}
    Updating...
{% endblock %}
{% block content %}
{% if not cart_items %}
<div>
    <div class="text-center">
        <br>
        <h1 class="text-center my_title">Your shop is empty</h1>
        <br>
        <p class="text-center">Please click <a href="{% url 'shopapp:all_product_category' %}">Here</a>To continue shopping</p>

    </div>
</div>
{% else %}
<div>
    <div class="text-center">
        <br>
        <h1 class="text-center my_title">Your shopping cart</h1>
        <br>
    </div>
</div>
<div class="row mx-auto">
    <div class="col-12 col-sm-12 col-md-12 col-lg-6 text-center">
        <table class="table my_custom_table">
            <thead class="my_custom_thead">
            <tr>
                <th colspan="5">
                    Your items
                </th>
            </tr>

            </thead>
            <tbody>
            {% for p in cart_items %}
            <tr>
                <td>
                    <a href="p.products.get_absolute_url"><img src="{{p.products.image.url}}" alt="" style="width:100px;height:100px;" class="float-left rounded custom_image"></a>

                </td>
                <td class="text-left">
                    {{p.products.name}}
                    <br>
                    SCUBI: {{p.products.id}}
                    <br>
                    Price: $ {{p.products.price}}
                    <br>
                    QTY : {{p.quantity}} x  {{p}}
                </td>
                <td>
                    $ {{p.sub_total}}
                </td>
                {% if p.quantity < p.products.stock %}
                <td>
                    <a href="{% url 'cartapp:cart_item' p.products.id %}" class="custom_a"><i class="fa fa-cart-plus custom_icon"></i></a><br>
                    &nbsp;<a href="{% url 'cartapp:cart_remove' p.products.id %}" class="custom_a"> <i class="fa fa-minus custom_icon"></i></a><br>
                    &nbsp;<a href="{% url 'cartapp:full_remove' p.products.id %}" class="custom_icon"> <i class="fa fa-trash custom_icon"></i></a>
                </td>
                {% else %}
                <td>
                    &nbsp;<a href="{% url 'cartapp:cart_remove' p.products.id %}" class="custom_a"> <i class="fa fa-minus custom_icon"></i></a><br>
                    &nbsp;<a href="{% url 'cartapp:full_remove' p.products.id %}" class="custom_icon"> <i class="fa fa-trash custom_icon"></i></a>
                </td>
                {% endif %}
            </tr>
            {% endfor %}
            </tbody>
        </table>

    </div>

<div class="col-12 col-sm-12 col-md-12 col-lg-6 text-center">
    <table class="table my_custom_table">
        <thead class="my_custom_thead">
        <tr>
            <th>
                CHECKOUT
            </th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>
               Please review your shopping cart items before proceeding with the order payment.

            </td>
        </tr>
        <tr>
            <td class="text-left">
                Your total is : <strong>{{total}}</strong>
            </td>
        </tr>
        </tbody>


    </table>
    <div class="mx-auto">
        <a href="{% url 'shopapp:all_product_category' %}" class="btn btn-secondary btn-block my_custom_button">Continue Shopping</a>
    </div>
</div>
</div>

 {% endif %}
{% endblock %}